/* Begin Root Style */

:root {
    --bg-color-100: #111;
    --bg-color-200: #222;
    --bg-color-500: #333;
    --bg-color-light: aliceblue;


    --txt-color-default: aliceblue;

    --font-size-default: 1em; /* 18px */
    --font-size-large: 1.7em; /* 32px */
    --font-size-larger: 1.3em; /* 24px */
    --font-size-smaller: 0.8em; /* 24px */
    --font-size-small: 0.7em; /* 24px */

    --m-common: 1em; /* 20px */
    --mg-b: 1em; /* 20px */


    --br-aize-solid: 0.05em solid;
    --br-default: 0.5em; /* border-radius: 10px */
    --br-full: 2.7em; /* border-radius: 50px */

    --tr-default: .2s ease all; /* transition */
    --f-brightness: brightness(0.7); /* filter */



    --stack-mg-t: 3em;
    --stack-ml: 0.5em;
    --stack-pd-default: 5px 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Fira Mono', monospace;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-default);
    color: var(--txt-color-default);
    background-image: linear-gradient(var(--bg-color-100), var(--bg-color-200));
}

h3 {
    font-size: var(--font-size-larger);
    margin-bottom: var(--mg-b);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    margin-bottom: var(--mg-b);
}

.center {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 1em;
}

/* End Root Style */


/* Begin Componenets */

/* Card */

.card {
    width: 100%;
    padding: var(--m-common);
    border-radius: var(--br-default);
    cursor: pointer;
    transition: var(--tr-default);
    margin-bottom: var(--mg-b);
}


.card:hover{
    background-color: var(--bg-color-500);
}

.card span{
    font-weight: bold;
    font-style: italic;
    margin-bottom: var(--mg-b);
}

.card p{
    font-weight: lighter;
    font-size: var(--font-size-small);
}

.card .image-and-card-title{
    width: 100%;
    display: flex;
    align-items: self-start;
}
.card .image-and-card-title img{
    width: 200px;
    height: 120px;
    border-radius: var(--br-default);
    margin-right: var(--m-common);
    cursor: zoom-in;
}
.card .image-and-card-title img:hover{
    transform: scale(1.05);
}

.card-title{
    display: flex;
    flex-direction: column;
}

/* STACKS */

.stacks-container{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    font-weight: bold;
    margin-top: var(--stack-mg-t);
}
.stack{
    padding: var(--stack-pd-default);
    color: var(--txt-color-default);
    border-radius: var(--br-default);
    transition: var(--tr-default);
    border: var(--br-aize-solid) #666;
}
.stack:not(:first-child){
    margin-left: var(--stack-ml);
}
.card:hover .stacks-container .stack{
    border: var(--br-aize-solid) var(--txt-color-default);
}
.card:hover .stacks-container .stack{
    border: var(--br-aize-solid) var(--txt-color-default);
}

/* End Componenets */


/* Begin Informatios Section */

.informations {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--m-common);
}

.introduction {
    width: 100%;
    height: 40%;
} 

.introduction h2 {
    font-size: var(--font-size-large);
    font-weight: normal;
    margin-bottom: var(--mg-b);
}
.introduction h1 {
    font-size: var(--txt-color-default);
    font-weight: bold;
    margin-bottom: var(--mg-b);
}
.introduction span {
    font-size: var(--txt-color-default);
    font-weight: lighter;
}

header{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li{
    font-size: var(--txt-color-default);
    padding: .3em;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--tr-default);
}

header nav ul li:hover{
    filter: var(--f-brightness);
}

header nav ul li div{
    height: 10px;
    width: 10px;
    border-radius: var(--br-full);
    background-color: var(--bg-color-light);
    transition: var(--tr-default);
}

header nav ul li p{
    margin-left: var(--m-common);
}

header nav ul li:hover div{
    width: 60px;
}

.contacts {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
}

.contacts ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.contacts ul i{
    font-size: var(--font-size-large);
    color: var(--txt-color-default);
    transition: var(--tr-default);
}
.contacts ul i:last-child{
    padding-right: var(--m-common);
}
.contacts ul i:hover{
    filter: var(--f-brightness);
}

/* End Informatios Section */


.main {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 4em;
    padding: var(--m-common);
}
